Repository joouha/euporie: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-encoding-pragma, black, check-toml, check-yaml, flake8, isort

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: fix-byte-order-marker
        name: Fix Byte Order Marker
        entry: fix-byte-order-marker
        language: system
        types: [text]
      - id: fix-encoding-pragma
        name: Fix Encoding Pragma
        entry: fix-encoding-pragma
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
      - id: isort
        name: isort
        entry: poetry run isort
        args: ["--profile", "black", "--filter-files"]
        language: system
        types: [python]
        require_serial: true
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]

  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

Bump version number and update documentation
  docs/pages/keybindings.rst
  docs/pages/usage.rst
  docs/reference/euporie.commands.buffer.rst
  docs/reference/euporie.commands.buffer.show_contextual_help.rst
  docs/reference/euporie.commands.config.autoinspect.rst
  docs/reference/euporie.commands.config.format_black.rst
  docs/reference/euporie.commands.config.format_isort.rst
  docs/reference/euporie.commands.config.format_ssort.rst
  docs/reference/euporie.commands.config.rst
  docs/reference/euporie.format.format_black.rst
  docs/reference/euporie.format.format_code.rst
  docs/reference/euporie.format.format_isort.rst
  docs/reference/euporie.format.format_ssort.rst
  docs/reference/euporie.format.rst
  docs/reference/euporie.rst
  euporie/__init__.py
  pyproject.toml
Due: fix-encoding-pragma, black, check-toml, flake8, isort

Update changelog for latest release
  CHANGELOG.rst
Due: none

Minor fixes to changelog
  CHANGELOG.rst
Due: none

Make terminal colour timeout configurable
  CHANGELOG.rst
  docs/pages/configuration.rst
  docs/pages/usage.rst
  euporie/app/tui.py
  euporie/config.py
Due: fix-encoding-pragma, black, flake8, isort

Add custom scrollbar and unify scrollbar styling
  euporie/app/base.py
  euporie/margins.py
  euporie/output/container.py
Due: fix-encoding-pragma, black, flake8, isort

Fix commaned palette early opening error
  CHANGELOG.rst
  euporie/app/base.py
  euporie/commands/tui.py
Due: fix-encoding-pragma, black, flake8, isort

Improve pager, including adding keybindings
  CHANGELOG.rst
  docs/pages/keybindings.rst
  docs/reference/euporie.cell.PagerState.rst
  docs/reference/euporie.cell.rst
  docs/reference/euporie.commands.cell_output.go_to_end_of_cell_output.rst
  docs/reference/euporie.commands.cell_output.go_to_start_of_cell_output.rst
  docs/reference/euporie.commands.cell_output.page_down_cell_output.rst
  docs/reference/euporie.commands.cell_output.page_up_cell_output.rst
  docs/reference/euporie.commands.cell_output.rst
  docs/reference/euporie.commands.cell_output.scroll_down_cell_output.rst
  docs/reference/euporie.commands.cell_output.scroll_up_cell_output.rst
  docs/reference/euporie.commands.pager.close_pager.rst
  docs/reference/euporie.commands.pager.rst
  docs/reference/euporie.commands.rst
  docs/reference/euporie.margins.ScrollbarMargin.rst
  docs/reference/euporie.margins.rst
  docs/reference/euporie.rst
  euporie/cell.py
  euporie/commands/__init__.py
  euporie/commands/cell_output.py
  euporie/commands/notebook.py
  euporie/commands/pager.py
  euporie/filters.py
  euporie/kernel.py
  euporie/notebook.py
  euporie/output/container.py
  euporie/output/control.py
  euporie/scroll.py
  scripts/document_key_bindings.py
Due: fix-encoding-pragma, black, flake8, isort

Fix bug where nothing is focused after a completion
  CHANGELOG.rst
  euporie/commands/completions.py
Due: fix-encoding-pragma, black, flake8, isort

Use improved scrollbar for notebook
  CHANGELOG.rst
  euporie/cell.py
  euporie/margins.py
  euporie/notebook.py
  euporie/scroll.py
Due: fix-encoding-pragma, black, flake8, isort

Bump version number and update documentation
  .pre-commit-config.yaml
  docs/pages/keybindings.rst
  docs/reference/euporie.scroll.ChildMeta.rst
  docs/reference/euporie.scroll.ChildRenderInfo.rst
  docs/reference/euporie.scroll.ScrollBar.rst
  docs/reference/euporie.scroll.ScrollbarControl.rst
  docs/reference/euporie.scroll.rst
  euporie/__init__.py
  poetry.lock
  pyproject.toml
Due: fix-encoding-pragma, black, check-toml, check-yaml, flake8, isort

Update changelog
  CHANGELOG.rst
Due: none

Fix zero-division scrollbar error
  CHANGELOG.rst
  euporie/__init__.py
  euporie/margins.py
  pyproject.toml
Due: fix-encoding-pragma, black, check-toml, flake8, isort

Minor tweak to readme install section
  README.rst
Due: none

Sort clipboard content by index
  euporie/notebook.py
Due: fix-encoding-pragma, black, flake8, isort

Add ability for select multiple cells
  CHANGELOG.rst
  docs/pages/keybindings.rst
  euporie/app/base.py
  euporie/box.py
  euporie/cell.py
  euporie/commands/cell.py
  euporie/commands/notebook.py
  euporie/filters.py
  euporie/margins.py
  euporie/menu/contents.py
  euporie/notebook.py
  euporie/scroll.py
Due: fix-encoding-pragma, black, flake8, isort

Fix editing cell when multiple cells selected
  CHANGELOG.rst
  euporie/cell.py
  euporie/scroll.py
Due: fix-encoding-pragma, black, flake8, isort

Fix cell border style in edit mode
  euporie/app/base.py
  euporie/cell.py
Due: fix-encoding-pragma, black, flake8, isort

Add ability to merge cells
  CHANGELOG.rst
  docs/pages/keybindings.rst
  euporie/commands/notebook.py
  euporie/menu/contents.py
  euporie/notebook.py
Due: fix-encoding-pragma, black, flake8, isort

Change multiple cell types & format multiple cells
  CHANGELOG.rst
  docs/pages/keybindings.rst
  euporie/commands/buffer.py
  euporie/commands/cell.py
  euporie/commands/notebook.py
  euporie/filters.py
  euporie/menu/contents.py
  euporie/notebook.py
Due: fix-encoding-pragma, black, flake8, isort

Add cell splitting command
  CHANGELOG.rst
  docs/pages/keybindings.rst
  euporie/cell.py
  euporie/commands/cell.py
  euporie/notebook.py
Due: fix-encoding-pragma, black, flake8, isort

Add commands to move cells up and down
  CHANGELOG.rst
  euporie/commands/notebook.py
  euporie/notebook.py
Due: fix-encoding-pragma, black, flake8, isort

Update readme & documentation, and add a logo
  README.rst
  docs/_static/favicon.ico
  docs/_static/logo.svg
  docs/conf.py
  docs/pages/gallery.rst
  docs/pages/installation.rst
  docs/reference/euporie.box.ThickVerticalBorder.rst
  docs/reference/euporie.box.rst
  docs/reference/euporie.commands.cell.cell_to_code.rst
  docs/reference/euporie.commands.cell.cell_to_markdown.rst
  docs/reference/euporie.commands.cell.cell_to_raw.rst
  docs/reference/euporie.commands.cell.reformat_cell_black.rst
  docs/reference/euporie.commands.cell.rst
  docs/reference/euporie.commands.cell.run_cell.rst
  docs/reference/euporie.commands.cell.run_cell_and_insert_below.rst
  docs/reference/euporie.commands.cell.run_cell_and_select_next_cell.rst
  docs/reference/euporie.commands.cell.split_cell.rst
  docs/reference/euporie.commands.notebook.cells_to_code.rst
  docs/reference/euporie.commands.notebook.cells_to_markdown.rst
  docs/reference/euporie.commands.notebook.cells_to_raw.rst
  docs/reference/euporie.commands.notebook.copy_cells.rst
  docs/reference/euporie.commands.notebook.cut_cell.rst
  docs/reference/euporie.commands.notebook.cut_cells.rst
  docs/reference/euporie.commands.notebook.delete_cells.rst
  docs/reference/euporie.commands.notebook.extend_cell_selection_down.rst
  docs/reference/euporie.commands.notebook.extend_cell_selection_up.rst
  docs/reference/euporie.commands.notebook.merge_cells.rst
  docs/reference/euporie.commands.notebook.move_cells_down.rst
  docs/reference/euporie.commands.notebook.move_cells_up.rst
  docs/reference/euporie.commands.notebook.paste_cells.rst
  docs/reference/euporie.commands.notebook.reformat_cells.rst
  docs/reference/euporie.commands.notebook.rst
  docs/reference/euporie.commands.notebook.run_cell_and_insert_below.rst
  docs/reference/euporie.commands.notebook.run_selected_cells.rst
  docs/reference/euporie.commands.notebook.run_selected_cells_and_select_next_cell.rst
  docs/reference/euporie.commands.notebook.select_all_cells.rst
Due: fix-encoding-pragma, black, flake8, isort

Bump version number
  euporie/__init__.py
  pyproject.toml
Due: fix-encoding-pragma, black, check-toml, flake8, isort

Remove redundant lists
  .flake8
  euporie/commands/buffer.py
  euporie/scroll.py
  poetry.lock
  pyproject.toml
Due: fix-encoding-pragma, black, check-toml, flake8, isort

Add rtd config
  .readthedocs.yaml
  docs/requirements.txt
Due: check-yaml

Fix sphinx autodoc by shielding argparse
  euporie/__main__.py
  euporie/app/__init__.py
  euporie/app/base.py
  euporie/app/dump.py
  euporie/commands/buffer.py
  euporie/commands/cell_output.py
  euporie/commands/config.py
  euporie/commands/pager.py
  euporie/commands/suggestions.py
  euporie/config.py
  euporie/key_binding/util.py
  euporie/output/container.py
  pyproject.toml
Due: fix-encoding-pragma, black, check-toml, flake8, isort

Fix notebook dumping regression
  CHANGELOG.rst
  euporie/app/dump.py
  euporie/containers.py
  euporie/notebook.py
  euporie/tab.py
Due: fix-encoding-pragma, black, flake8, isort

Bump version number
  CHANGELOG.rst
  euporie/__init__.py
  pyproject.toml
Due: fix-encoding-pragma, black, check-toml, flake8, isort

Theme documentation
  README.rst
  docs/_static/custom.css
  docs/_static/logo.svg
  docs/_templates/layout.html
  docs/conf.py
  docs/index.rst
  docs/pages/configuration.rst
  docs/pages/keybindings.rst
  docs/pages/usage.rst
  euporie/config.py
  poetry.lock
  pyproject.toml
  scripts/document_key_bindings.py
  scripts/document_usage.py
Due: fix-encoding-pragma, black, check-toml, flake8, isort

Update docs requirements.txt
  CHANGELOG.rst
  docs/requirements.txt
Due: none

Minor tweak to docs css
  docs/_static/custom.css
Due: none

Fix types in usage docmentation script
  scripts/document_usage.py
Due: fix-encoding-pragma, black, flake8, isort

Clean up notebook command / edit modes.
  CHANGELOG.rst
  euporie/cell.py
  euporie/commands/cell.py
  euporie/commands/notebook.py
  euporie/notebook.py
Due: fix-encoding-pragma, black, flake8, isort

Fix configurable logging regression
  euporie/app/base.py
Due: fix-encoding-pragma, black, flake8, isort

Fixes to keybindings documentation
  docs/pages/keybindings.rst
  euporie/key_binding/util.py
Due: fix-encoding-pragma, black, flake8, isort

Allow navigating between cells in edit mode
  CHANGELOG.rst
  euporie/cell.py
  euporie/commands/cell.py
  euporie/commands/notebook.py
  euporie/filters.py
Due: fix-encoding-pragma, black, flake8, isort

Allow extending cell selection with mouse
  CHANGELOG.rst
  euporie/cell.py
  euporie/commands/cell.py
  euporie/commands/notebook.py
  euporie/notebook.py
  euporie/scroll.py
Due: fix-encoding-pragma, black, flake8, isort

Fix editing cells in external editor
  CHANGELOG.rst
  euporie/commands/base.py
Due: fix-encoding-pragma, black, flake8, isort

Update link for jut
  docs/pages/related.rst
Due: none
