Repository joouha/euporie: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-encoding-pragma, black, check-toml, check-yaml, flake8, isort

fix-encoding-pragma:
  name: Fix Encoding Pragma
  entry: fix-encoding-pragma
  language: system

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

isort:
  name: isort
  entry: poetry run isort
  args:
  - --profile
  - black
  - --filter-files
  language: system
  require_serial: true

Add pylatexenc latex renderer
  euporie/render/latex.py
Due: fix-encoding-pragma, black, flake8, isort

Switch change tab shortcuts other way round
  euporie/commands/tui.py
Due: fix-encoding-pragma, black, flake8, isort

Update rst README
  README.rst
  docs/index.rst
  docs/reference/reference.rst
Due: none

Replace README file
  README.md
  README.rst
Due: none

Add link to more screenshots
  README.rst
  docs/pages/gallery.rst
Due: none

Update changelog
  CHANGELOG.rst
Due: none

Add badges to readme
  README.rst
Due: none

Document key bindings
  docs/pages/keybindings.rst
  docs/reference/euporie.key_binding.bindings.commands.command_default_bindings.rst
  docs/reference/euporie.key_binding.bindings.commands.load_command_bindings.rst
  docs/reference/euporie.key_binding.bindings.commands.rst
  docs/reference/euporie.key_binding.bindings.micro.load_micro_bindings.rst
  docs/reference/euporie.key_binding.bindings.micro.micro_bindings.rst
  docs/reference/euporie.key_binding.bindings.micro.rst
  docs/reference/euporie.key_binding.load_key_bindings.rst
  docs/reference/euporie.key_binding.rst
  euporie/app/base.py
  euporie/cell.py
  euporie/commands/buffer.py
  euporie/commands/cell.py
  euporie/commands/completions.py
  euporie/commands/config.py
  euporie/commands/notebook.py
  euporie/commands/suggestions.py
  euporie/commands/tui.py
  euporie/filters.py
  euporie/key_binding/__init__.py
  euporie/key_binding/bindings/commands.py
  euporie/key_binding/bindings/micro.py
  euporie/notebook.py
  euporie/terminal.py
  scripts/document_config_options.py
  scripts/key_bindings_to_rst.py
Due: fix-encoding-pragma, black, flake8, isort

Fix broken badge links in readme
  README.rst
Due: none

Update screenshot in docs
  docs/pages/gallery.rst
Due: none

Handle exceptions during loading
  euporie/app/base.py
  euporie/log.py
Due: fix-encoding-pragma, black, flake8, isort

Replace README file ref in pyproject.toml
  pyproject.toml
Due: check-toml

Retore clipboard functionality
  euporie/app/tui.py
Due: fix-encoding-pragma, black, flake8, isort

Restore key-bindings help dialog
  docs/pages/keybindings.rst
  euporie/__init__.py
  euporie/app/tui.py
  euporie/commands/base.py
  euporie/commands/buffer.py
  euporie/commands/cell.py
  euporie/commands/completions.py
  euporie/commands/format.py
  euporie/key_binding/bindings/micro.py
  euporie/key_binding/util.py
  scripts/key_bindings_to_markdown.py
  scripts/key_bindings_to_rst.py
Due: fix-encoding-pragma, black, flake8, isort

Add binder badge to the readme
  README.rst
Due: none

Additional ANSI escape code parsing
  euporie/text.py
Due: fix-encoding-pragma, black, flake8, isort

Fix bug when cutting last line of a buffer
  euporie/commands/buffer.py
Due: fix-encoding-pragma, black, flake8, isort

Fix clipboard detection
  euporie/app/tui.py
Due: fix-encoding-pragma, black, flake8, isort

Fix bug where notebook state is lost after saving
  euporie/notebook.py
Due: fix-encoding-pragma, black, flake8, isort

Re-enable selection wrapping bindings
  euporie/commands/buffer.py
  euporie/commands/completions.py
  euporie/filters.py
  euporie/key_binding/bindings/micro.py
Due: fix-encoding-pragma, black, flake8, isort

Fix run-all-cells command
  euporie/notebook.py
Due: fix-encoding-pragma, black, flake8, isort

Add documentation link to help menu
  euporie/commands/tui.py
  euporie/menu/contents.py
Due: fix-encoding-pragma, black, flake8, isort

Bump version number and update dependencies
  euporie/__init__.py
  poetry.lock
  pyproject.toml
Due: fix-encoding-pragma, black, check-toml, flake8, isort

Correct changelog to show changes in 1.0.0 release
  CHANGELOG.rst
Due: none

Add ability to reformat code cells with black
  CHANGELOG.rst
  docs/pages/configuration.rst
  docs/pages/keybindings.rst
  euporie/cell.py
  euporie/commands/buffer.py
  euporie/commands/cell.py
  euporie/commands/config.py
  euporie/commands/notebook.py
  euporie/config.py
  euporie/filters.py
  euporie/key_binding/bindings/commands.py
  euporie/key_binding/util.py
  euporie/menu/contents.py
  euporie/notebook.py
  euporie/terminal.py
  poetry.lock
  pyproject.toml
  scripts/document_config_options.py
Due: fix-encoding-pragma, black, check-toml, flake8, isort

Fix potential logging issue
  euporie/log.py
Due: fix-encoding-pragma, black, flake8, isort

Refactor data rendering api
  CHANGELOG.rst
  euporie/cell.py
  euporie/convert/__init__.py
  euporie/convert/base.py
  euporie/convert/formats/__init__.py
  euporie/convert/formats/base64.py
  euporie/convert/formats/html.py
  euporie/convert/formats/latex.py
  euporie/convert/formats/markdown.py
  euporie/convert/formats/pil.py
  euporie/convert/formats/png.py
  euporie/convert/formats/rich.py
  euporie/convert/formats/svg.py
  euporie/convert/util.py
  euporie/graphics/base.py
  euporie/graphics/kitty.py
  euporie/graphics/sixel.py
  euporie/markdown/rich.py
  euporie/output/__init__.py
  euporie/output/container.py
  euporie/output/control.py
  euporie/render/__init__.py
  euporie/render/base.py
  euporie/render/html.py
  euporie/render/image/__init__.py
  euporie/render/image/ansi.py
  euporie/render/image/base.py
  euporie/render/image/graphics.py
  euporie/render/latex.py
  euporie/render/markdown.py
  euporie/render/mixin.py
  euporie/render/rich.py
  euporie/render/sixel.py
  euporie/render/svg.py
  euporie/terminal.py
  poetry.lock
  pyproject.toml
Due: fix-encoding-pragma, black, check-toml, flake8, isort

Changes to output container and control
  euporie/output/container.py
  euporie/output/control.py
Due: fix-encoding-pragma, black, flake8, isort

Correct spelling mistakes in comments
  euporie/app/dump.py
Due: fix-encoding-pragma, black, flake8, isort

Reorganise format convertor modules by output
  CHANGELOG.rst
  euporie/convert/__init__.py
  euporie/convert/base.py
  euporie/convert/formats/__init__.py
  euporie/convert/formats/ansi.py
  euporie/convert/formats/base64.py
  euporie/convert/formats/common.py
  euporie/convert/formats/html.py
  euporie/convert/formats/jpeg.py
  euporie/convert/formats/latex.py
  euporie/convert/formats/markdown.py
  euporie/convert/formats/pdf.py
  euporie/convert/formats/pil.py
  euporie/convert/formats/png.py
  euporie/convert/formats/rich.py
  euporie/convert/formats/sixel.py
  euporie/convert/formats/svg.py
  euporie/convert/util.py
  euporie/graphics/kitty.py
  euporie/kernel.py
Due: fix-encoding-pragma, black, flake8, isort

Implement new smoother scrolling system.
  CHANGELOG.rst
  euporie/app/base.py
  euporie/app/tui.py
  euporie/cell.py
  euporie/commands/config.py
  euporie/convert/base.py
  euporie/convert/formats/common.py
  euporie/convert/formats/sixel.py
  euporie/filters.py
  euporie/graphics/__init__.py
  euporie/graphics/base.py
  euporie/graphics/kitty.py
  euporie/graphics/sixel.py
  euporie/notebook.py
  euporie/output/container.py
  euporie/output/control.py
  euporie/scroll.py
Due: fix-encoding-pragma, black, flake8, isort

Fix graphics display in dump mode
  euporie/app/base.py
  euporie/app/dump.py
  euporie/app/tui.py
  euporie/filters.py
  euporie/output/control.py
Due: fix-encoding-pragma, black, flake8, isort

Rename log_to_stdout to stdout_to_log
  euporie/convert/formats/ansi.py
  euporie/log.py
Due: fix-encoding-pragma, black, flake8, isort

Fix offscreen input requests
  euporie/app/base.py
  euporie/cell.py
Due: fix-encoding-pragma, black, flake8, isort

Ensure cells are refreshed on output
  euporie/cell.py
  euporie/scroll.py
Due: fix-encoding-pragma, black, flake8, isort

Prevent kernel output breaking the display
  CHANGELOG.rst
  euporie/kernel.py
Due: fix-encoding-pragma, black, flake8, isort

Add cell meta type annotation
  euporie/cell.py
Due: fix-encoding-pragma, black, flake8, isort

Fix bug in comment toggling code
  euporie/commands/buffer.py
Due: fix-encoding-pragma, black, flake8, isort

Display tabs in ansi text correcty
  CHANGELOG.rst
  euporie/text.py
Due: fix-encoding-pragma, black, flake8, isort

Path conditions:
  fix-encoding-pragma: any of: \.py$
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  flake8: any of: \.py$
  isort: any of: \.py$
