Repository joouha/euporie: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-encoding-pragma, black, check-toml, check-yaml, flake8, isort

fix-encoding-pragma:
  name: Fix Encoding Pragma
  entry: fix-encoding-pragma
  language: system

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

isort:
  name: isort
  entry: poetry run isort
  args:
  - --profile
  - black
  - --filter-files
  language: system
  require_serial: true

Re-license with MIT License
  LICENSE
  pyproject.toml
Due: check-toml

Add missing kwargs to function call.
  euporie/app.py
Due: fix-encoding-pragma, black, flake8, isort

Updates to configuration class
  euporie/config.py
  poetry.lock
  pyproject.toml
Due: fix-encoding-pragma, black, check-toml, flake8, isort

Focus newly opened notebooks
  euporie/app.py
  euporie/notebook.py
  euporie/scroll.py
Due: fix-encoding-pragma, black, flake8, isort

Update about dialog
  euporie/app.py
Due: fix-encoding-pragma, black, flake8, isort

Run pytype on python3.8
  noxfile.py
Due: fix-encoding-pragma, black, flake8, isort

Add support for OSC hyperlinks.
  euporie/text.py
Due: fix-encoding-pragma, black, flake8, isort

Move keybinding text generation logic to `KeyBindingsInfo` class
  euporie/app.py
  euporie/keys.py
  euporie/text.py
Due: fix-encoding-pragma, black, flake8, isort

Refactor logging and add logs dialog to help menu
  euporie/app.py
  euporie/log.py
Due: fix-encoding-pragma, black, flake8, isort

Update dependencies
  poetry.lock
Due: none

Bump version number to 0.1.13
  euporie/__init__.py
  pyproject.toml
Due: fix-encoding-pragma, black, check-toml, flake8, isort

Improve rendering of output streams
  euporie/output.py
  euporie/text.py
Due: fix-encoding-pragma, black, flake8, isort

Refactor dialogs and add .
  euporie/app.py
  euporie/dialog.py
  euporie/log.py
  euporie/render.py
  euporie/term.py
  euporie/text.py
Due: fix-encoding-pragma, black, flake8, isort

Use pyperclip for system keyboard
  euporie/app.py
  poetry.lock
  pyproject.toml
Due: fix-encoding-pragma, black, check-toml, flake8, isort

Fix log dialog TextArea params.
  euporie/text.py
Due: fix-encoding-pragma, black, flake8, isort

Add exception handling for TIOCGWINSZ query
  euporie/term.py
Due: fix-encoding-pragma, black, flake8, isort

Allow overriding config with command line parameters and environment variables
  euporie/app.py
  euporie/config.py
Due: fix-encoding-pragma, black, flake8, isort

Fix SVG rendering
  euporie/render.py
Due: fix-encoding-pragma, black, flake8, isort

Add command line arguments and support for dumping notebooks.
  .flake8
  euporie/__init__.py
  euporie/app.py
  euporie/app/__init__.py
  euporie/app/dialog.py
  euporie/app/dump.py
  euporie/app/interface.py
  euporie/app/term.py
  euporie/cell.py
  euporie/config.py
  euporie/notebook.py
  euporie/render.py
  euporie/scroll.py
  noxfile.py
Due: fix-encoding-pragma, black, flake8, isort

Add command line usage to readme
  README.md
Due: none

Bump version number to 0.1.14
  euporie/__init__.py
  pyproject.toml
Due: fix-encoding-pragma, black, check-toml, flake8, isort

Use in-memory clipboard if no system clipboard
  euporie/app/__init__.py
  euporie/app/interface.py
Due: fix-encoding-pragma, black, flake8, isort

Refactor the application configuration.
  euporie/__init__.py
  euporie/app/__init__.py
  euporie/app/dump.py
  euporie/app/interface.py
  euporie/config.py
  euporie/log.py
  euporie/mdtable.py
  euporie/notebook.py
  euporie/output.py
  euporie/scroll.py
Due: fix-encoding-pragma, black, flake8, isort

Bump version number to 0.1.15
  euporie/__init__.py
  pyproject.toml
Due: fix-encoding-pragma, black, check-toml, flake8, isort

Update usage in readme
  README.md
Due: none

Fix errors when using new file dialogs
  euporie/app/dialog.py
  euporie/app/interface.py
Due: fix-encoding-pragma, black, flake8, isort

Bump version number to 0.1.16
  euporie/__init__.py
  pyproject.toml
Due: fix-encoding-pragma, black, check-toml, flake8, isort

Rename scroll module to containers
  euporie/app/dump.py
  euporie/app/interface.py
  euporie/containers.py
  euporie/notebook.py
Due: fix-encoding-pragma, black, flake8, isort

Change sixel detection method
  euporie/app/term.py
Due: fix-encoding-pragma, black, flake8, isort

Update readme
  README.md
  scripts/key_bindings_to_markdown.py
Due: fix-encoding-pragma, black, flake8, isort

Ignore local media
  .gitignore
Due: none

Update jupyter-client dependency
  euporie/cell.py
  poetry.lock
  pyproject.toml
Due: fix-encoding-pragma, black, check-toml, flake8, isort

Fix click-to-focus on cells
  euporie/cell.py
Due: fix-encoding-pragma, black, flake8, isort

Add nox-poetry as dev dependency
  poetry.lock
  pyproject.toml
Due: check-toml

Add chafa as image renderer
  README.md
  euporie/render.py
Due: fix-encoding-pragma, black, flake8, isort

Fix kernel issues
  README.md
  euporie/app/interface.py
  euporie/notebook.py
  scripts/key_bindings_to_markdown.py
Due: fix-encoding-pragma, black, flake8, isort

Make cells runnable by a method call.
  euporie/cell.py
Due: fix-encoding-pragma, black, flake8, isort

Allow changing background colour
  euporie/app/__init__.py
  euporie/config.py
  euporie/containers.py
Due: fix-encoding-pragma, black, flake8, isort

Add `--run` command line flag to run notebooks.
  euporie/app/__init__.py
  euporie/app/dialog.py
  euporie/app/dump.py
  euporie/app/interface.py
  euporie/app/term.py
  euporie/cell.py
  euporie/completion.py
  euporie/config.py
  euporie/containers.py
  euporie/kernel.py
  euporie/notebook.py
  noxfile.py
  poetry.lock
  pyproject.toml
Due: fix-encoding-pragma, black, check-toml, flake8, isort

Add jupyter's type hints to completions menu.
  euporie/app/__init__.py
  euporie/app/interface.py
  euporie/cell.py
  euporie/completion.py
  euporie/config.py
  euporie/kernel.py
  noxfile.py
Due: fix-encoding-pragma, black, flake8, isort

Path conditions:
  fix-encoding-pragma: any of: \.py$
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  flake8: any of: \.py$
  isort: any of: \.py$
