Repository joouha/euporie: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-encoding-pragma, black, check-toml, check-yaml, flake8, isort

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: fix-byte-order-marker
        name: Fix Byte Order Marker
        entry: fix-byte-order-marker
        language: system
        types: [text]
      - id: fix-encoding-pragma
        name: Fix Encoding Pragma
        entry: fix-encoding-pragma
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
      - id: isort
        name: isort
        entry: poetry run isort
        args: ["--profile", "black", "--filter-files"]
        language: system
        types: [python]
        require_serial: true
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]

  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

Ssort all modules and classes
  .pre-commit-config.yaml
  euporie/app/base.py
  euporie/app/dump.py
  euporie/app/tui.py
  euporie/cell.py
  euporie/commands/base.py
  euporie/commands/buffer.py
  euporie/config.py
  euporie/containers.py
  euporie/convert/base.py
  euporie/kernel.py
  euporie/key_binding/util.py
  euporie/log.py
  euporie/markdown/blocks/math.py
  euporie/markdown/rich.py
  euporie/menu/item.py
  euporie/notebook.py
  euporie/output/container.py
  euporie/output/control.py
  euporie/scroll.py
  euporie/terminal.py
  euporie/text.py
  noxfile.py
  poetry.lock
  pyproject.toml
Due: fix-encoding-pragma, black, check-toml, check-yaml, flake8, isort

Add iterm image protocol support
  CHANGELOG.rst
  euporie/convert/formats/base64.py
  euporie/output/container.py
  euporie/output/control.py
  euporie/terminal.py
Due: fix-encoding-pragma, black, flake8, isort

Fix types
  euporie/cell.py
  euporie/config.py
  euporie/terminal.py
Due: fix-encoding-pragma, black, flake8, isort

Add ability to display graphic from within tmux
  euporie/cell.py
  euporie/commands/base.py
  euporie/commands/config.py
  euporie/config.py
  euporie/filters.py
  euporie/menu/bar.py
  euporie/menu/contents.py
  euporie/menu/item.py
  euporie/output/container.py
  euporie/output/control.py
  euporie/terminal.py
Due: fix-encoding-pragma, black, flake8, isort

Update changelog
  CHANGELOG.rst
Due: none

Update ssort for fix to iterable unpacking bug
  poetry.lock
Due: none

Fix scrolling bug
  euporie/commands/notebook.py
  euporie/scroll.py
Due: fix-encoding-pragma, black, flake8, isort

Conform to mypy type checking
  euporie/cell.py
  euporie/menu/bar.py
  euporie/output/container.py
  euporie/scroll.py
Due: fix-encoding-pragma, black, flake8, isort

Remove debug statements
  euporie/scroll.py
Due: fix-encoding-pragma, black, flake8, isort

Fix dialog scrollbar style so bar is visible
  euporie/app/base.py
Due: fix-encoding-pragma, black, flake8, isort

Fix issue with scrolling
  euporie/scroll.py
Due: fix-encoding-pragma, black, flake8, isort

Update some styles
  euporie/app/base.py
  euporie/app/tui.py
  euporie/menu/bar.py
  euporie/style.py
Due: fix-encoding-pragma, black, flake8, isort

Use BeforeInput processor for stdin prompt
  euporie/cell.py
Due: fix-encoding-pragma, black, flake8, isort

Add a command palette.
  CHANGELOG.rst
  docs/pages/keybindings.rst
  euporie/app/base.py
  euporie/app/tui.py
  euporie/cell.py
  euporie/commands/base.py
  euporie/commands/buffer.py
  euporie/commands/completions.py
  euporie/commands/config.py
  euporie/commands/format.py
  euporie/commands/notebook.py
  euporie/commands/tui.py
  euporie/log.py
  euporie/menu/bar.py
  euporie/menu/contents.py
  euporie/menu/item.py
  euporie/notebook.py
  euporie/output/container.py
  euporie/palette.py
  euporie/tab.py
  euporie/terminal.py
  scripts/key_bindings_to_rst.py
Due: fix-encoding-pragma, black, flake8, isort

Allow async commands and event handlers to run on command
  euporie/commands/base.py
Due: fix-encoding-pragma, black, flake8, isort

Add output window type which knows about graphical float
  euporie/output/container.py
Due: fix-encoding-pragma, black, flake8, isort

Attempt to clean up cleared terminal graphic floats
  euporie/cell.py
  euporie/notebook.py
Due: fix-encoding-pragma, black, flake8, isort

Ensure command palette is not hidden by graphics
  euporie/palette.py
Due: fix-encoding-pragma, black, flake8, isort

Fix some command filters and titles
  euporie/commands/base.py
  euporie/commands/buffer.py
Due: fix-encoding-pragma, black, flake8, isort

Graphics background now follows theme color
  CHANGELOG.rst
  euporie/app/base.py
  euporie/convert/formats/ansi.py
  euporie/convert/formats/common.py
  euporie/convert/formats/sixel.py
  euporie/output/container.py
  noxfile.py
Due: fix-encoding-pragma, black, flake8, isort

Add .python-version to gitignore
  .gitignore
Due: none

Obey NO_COLOR env var
  CHANGELOG.rst
  euporie/terminal.py
Due: fix-encoding-pragma, black, flake8, isort

Do not move log tab cursor on new content
  euporie/log.py
Due: fix-encoding-pragma, black, flake8, isort

Fix python3.8 mypy check
  euporie/app/base.py
Due: fix-encoding-pragma, black, flake8, isort

Prevent scaled-to-fit sixel images from disappearing.
  euporie/output/control.py
Due: fix-encoding-pragma, black, flake8, isort

Ensure cells borders are properly hidden if needed
  euporie/box.py
  euporie/cell.py
Due: fix-encoding-pragma, black, flake8, isort

Add weights to conversion functions
  euporie/convert/base.py
  euporie/convert/formats/ansi.py
  euporie/convert/formats/pil.py
Due: fix-encoding-pragma, black, flake8, isort

Update documentation
  CHANGELOG.rst
  docs/pages/keybindings.rst
  docs/pages/usage.rst
  docs/reference/euporie.commands.notebook.first_child.rst
  docs/reference/euporie.commands.notebook.rst
  docs/reference/euporie.commands.notebook.select_first_cell.rst
  docs/reference/euporie.commands.tui.rst
  docs/reference/euporie.commands.tui.show_command_palette.rst
  docs/reference/euporie.convert.base.Convertor.rst
  docs/reference/euporie.convert.base.rst
  docs/reference/euporie.output.container.OutputWindow.rst
  docs/reference/euporie.output.container.rst
  docs/reference/euporie.palette.CommandMenuControl.rst
  docs/reference/euporie.palette.CommandPalette.rst
  docs/reference/euporie.palette.rst
  docs/reference/euporie.rst
  scripts/document_key_bindings.py
  scripts/document_usage.py
Due: fix-encoding-pragma, black, flake8, isort

Bump version number and update dependencies
  euporie/__init__.py
  poetry.lock
  pyproject.toml
Due: fix-encoding-pragma, black, check-toml, flake8, isort

Correct link in readme
  README.rst
Due: none

Add screenshot of command palette
  docs/pages/gallery.rst
Due: none

Add isort and ssort as cell formatters
  CHANGELOG.rst
  docs/pages/configuration.rst
  euporie/cell.py
  euporie/commands/config.py
  euporie/config.py
  euporie/filters.py
  euporie/format.py
  euporie/log.py
  euporie/menu/contents.py
  poetry.lock
  pyproject.toml
Due: fix-encoding-pragma, black, check-toml, flake8, isort

Ressort files
  euporie/app/base.py
  euporie/app/dump.py
  euporie/commands/base.py
  euporie/menu/bar.py
  euporie/menu/item.py
  euporie/notebook.py
  euporie/output/container.py
  euporie/palette.py
  euporie/scroll.py
  euporie/tab.py
  euporie/terminal.py
  euporie/text.py
Due: fix-encoding-pragma, black, flake8, isort

Add project urls to pyproject.toml file
  pyproject.toml
Due: check-toml

Fix indentation bug
  CHANGELOG.rst
  euporie/commands/buffer.py
Due: fix-encoding-pragma, black, flake8, isort

Indent over complete if cursor in leading whitespace
  CHANGELOG.rst
  euporie/commands/completions.py
Due: fix-encoding-pragma, black, flake8, isort

Change documentation project url in pyproject.toml
  pyproject.toml
Due: check-toml

Minor fixes to keyboard shortcuts dialog
  euporie/app/tui.py
Due: fix-encoding-pragma, black, flake8, isort

Add inspection pane
  CHANGELOG.rst
  docs/pages/configuration.rst
  docs/pages/keybindings.rst
  euporie/app/base.py
  euporie/cell.py
  euporie/commands/buffer.py
  euporie/commands/completions.py
  euporie/commands/config.py
  euporie/config.py
  euporie/filters.py
  euporie/kernel.py
  euporie/menu/contents.py
  euporie/notebook.py
  euporie/output/container.py
  euporie/output/control.py
  euporie/scroll.py
  euporie/text.py
Due: fix-encoding-pragma, black, flake8, isort
